$('#modal_edit').empty();
$('#modal_edit').html(`
                <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edicion de Tarea</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <%= form_with(model: @post, method: :patch, remote: true) do |form| %>
                                    <div class="modal-body">
                                            <div class="field">
                                            <%= form.label :title %>
                                            <%= form.text_field :title %>
                                            </div>
                                        
                                            <div class="field">
                                            <%= form.label :content %>
                                            <%= form.text_field :content %>
                                            </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <%= form.submit "edit", class: "btn btn-primary", id: "edit" %> 
                                    </div>
                                <% end %>
                        </div>
                    </div>
                </div>`);


$('#myModal').modal()